In [2]:
import csv
import pandas as pd
import nltk

In [3]:
with open('GDELT.MASTERREDUCEDV2.csv') as csvfile:
    reader=csv.reader(csvfile,delimiter='\t')
    row1=next(reader)
    print(row1)

['Date', 'Source', 'Target', 'CAMEOCode', 'NumEvents', 'NumArts', 'QuadClass', 'Goldstein', 'SourceGeoType', 'SourceGeoLat', 'SourceGeoLong', 'TargetGeoType', 'TargetGeoLat', 'TargetGeoLong', 'ActionGeoType', 'ActionGeoLat', 'ActionGeoLong']

In [4]:
with open('20130401.export.csv') as csvfile:
    reader=csv.reader(csvfile,delimiter='\t')
    for i in range(3):
        row1=next(reader)
        print(row1)

['253461011', '20030404', '200304', '2003', '2003.2575', 'AFG', 'AFGHANISTAN', 'AFG', '', '', '', '', '', '', '', ' UIS', 'THE INTERNATIONAL COMMUNITY', '', '', '', '', '', 'UIS', '', '', '0', '043', '043', '04', '1', '2.8', '6', '1', '6', '0', '1', 'Algeria', 'AG', 'AG', '28', '3', 'AG', '1', 'Algeria', 'AG', 'AG', '28', '3', 'AG', '1', 'Algeria', 'AG', 'AG', '28', '3', 'AG', '20130401', 'BBC Monitoring']
['253461012', '20030404', '200304', '2003', '2003.2575', 'AUS', 'AUSTRALIA', 'AUS', '', '', '', '', '', '', '', ' CVL', 'MIGRANT', '', '', '', '', '', 'CVL', '', '', '1', '043', '043', '04', '1', '2.8', '10', '1', '10', '2.22222222222222', '1', 'Australia', 'AS', 'AS', '-27', '133', 'AS', '1', 'Australia', 'AS', 'AS', '-27', '133', 'AS', '1', 'Australia', 'AS', 'AS', '-27', '133', 'AS', '20130401', 'http://www.bangkokpost.com/breakingnews/343522/australia-people-smuggling-rising']
['253461013', '20030404', '200304', '2003', '2003.2575', 'BUS', 'SHOP OWNER', '', '', '', '', '', 'BUS', '', '', ' CVL', 'NEIGHBORHOOD', '', '', '', '', '', 'CVL', '', '', '1', '172', '172', '17', '4', '-5.0', '8', '1', '8', '2.16736905478627', '4', 'Tai Hang, Hong Kong (general), Hong Kong', 'HK', 'HK00', '22.4667', '114.15', '-1354145', '4', 'Tai Hang, Hong Kong (general), Hong Kong', 'HK', 'HK00', '22.4667', '114.15', '-1354145', '4', 'Tai Hang, Hong Kong (general), Hong Kong', 'HK', 'HK00', '22.4667', '114.15', '-1354145', '20130401', 'http://www.bloomberg.com/news/2013-04-01/hong-kong-businesses-vanish-as-rents-soar-real-estate.html']

In [ ]:
df=pd.read_csv('GDELT.MASTERREDUCEDV2.csv',delimiter='\t')

In [6]:
header1=pd.read_csv('CSV.header.dailyupdates.txt',delimiter='\t')

In [22]:
header2=pd.read_csv('CSV.header.historical.txt',delimiter='\t')

In [5]:
df=pd.read_csv('20130401.export.CSV',delimiter='\t')

In [7]:
df.columns=list(header1)

In [8]:
df.iloc[400,-1].split('/')[-1].lower()

'women-tourists-avoid-india-following-sexual-assaults-study-says.html'

In [9]:
from nltk.tokenize import RegexpTokenizer
re_tokenizer = RegexpTokenizer(r'\w+')

nyt_re_tokens = re_tokenizer.tokenize(df.iloc[400,-1].lower())

In [30]:
for i in range(10):
    print(df.iloc[i,-1].split('com/'))

['http://www.bangkokpost.', 'breakingnews/343522/australia-people-smuggling-rising']
['http://www.bloomberg.', 'news/2013-04-01/hong-kong-businesses-vanish-as-rents-soar-real-estate.html']
['http://www.bloomberg.', 'news/2013-04-01/hong-kong-businesses-vanish-as-rents-soar-real-estate.html']
['http://www.bangkokpost.', 'breakingnews/343522/australia-people-smuggling-rising']
['http://www.startribune.', 'nation/200818961.html']
['BBC Monitoring']
['http://www.philippinetimes.', 'index.php/sid/213539349/scat/2411cd3571b4f088']
['http://www.theglobeandmail.', 'life/health-and-fitness/health/number-of-us-adhd-diagnoses-astronomical/article10606200/?cmpid=rss1']
['http://www.theglobeandmail.', 'life/health-and-fitness/health/number-of-us-adhd-diagnoses-astronomical/article10606200/?cmpid=rss1']
['http://www.channelnewsasia.', 'news/world/us-urges-serbia-kosovo-to-reach-agreemen/624136.html']

In [36]:
icom=0
iBBC=0
iit=0
iru=0
inet=0
for i in range(len(df)):
    url=df.iloc[i,-1]
    if 'BBC Monitoring'==url:
        iBBC+=1
    elif '.com/' in url:
        icom+=1
    elif '.it/' in url:
        iit+=1
    elif '.ru/' in url:
        iru+=1
    elif '.net/' in url:
        inet+=1

In [37]:
len(df),icom,iBBC,iit,iru,inet

(27757, 17961, 2300, 13, 135, 502)

In [14]:
from nltk.corpus import stopwords
import re

In [15]:
punctuation = re.compile(r'[-.?!,":;()|0-9]')

In [24]:
for word in nyt_re_tokens:
    print(punctuation.sub("", word))

http
www
bloomberg
com
news



women
tourists
avoid
india
following
sexual
assaults
study
says
html

In [17]:
list(punctuation)

TypeError: '_sre.SRE_Pattern' object is not iterable

In [22]:
stopwords.words('russian')

['и',
 'в',
 'во',
 'не',
 'что',
 'он',
 'на',
 'я',
 'с',
 'со',
 'как',
 'а',
 'то',
 'все',
 'она',
 'так',
 'его',
 'но',
 'да',
 'ты',
 'к',
 'у',
 'же',
 'вы',
 'за',
 'бы',
 'по',
 'только',
 'ее',
 'мне',
 'было',
 'вот',
 'от',
 'меня',
 'еще',
 'нет',
 'о',
 'из',
 'ему',
 'теперь',
 'когда',
 'даже',
 'ну',
 'вдруг',
 'ли',
 'если',
 'уже',
 'или',
 'ни',
 'быть',
 'был',
 'него',
 'до',
 'вас',
 'нибудь',
 'опять',
 'уж',
 'вам',
 'ведь',
 'там',
 'потом',
 'себя',
 'ничего',
 'ей',
 'может',
 'они',
 'тут',
 'где',
 'есть',
 'надо',
 'ней',
 'для',
 'мы',
 'тебя',
 'их',
 'чем',
 'была',
 'сам',
 'чтоб',
 'без',
 'будто',
 'чего',
 'раз',
 'тоже',
 'себе',
 'под',
 'будет',
 'ж',
 'тогда',
 'кто',
 'этот',
 'того',
 'потому',
 'этого',
 'какой',
 'совсем',
 'ним',
 'здесь',
 'этом',
 'один',
 'почти',
 'мой',
 'тем',
 'чтобы',
 'нее',
 'сейчас',
 'были',
 'куда',
 'зачем',
 'всех',
 'никогда',
 'можно',
 'при',
 'наконец',
 'два',
 'об',
 'другой',
 'хоть',
 'после',
 'над',
 'больше',
 'тот',
 'через',
 'эти',
 'нас',
 'про',
 'всего',
 'них',
 'какая',
 'много',
 'разве',
 'три',
 'эту',
 'моя',
 'впрочем',
 'хорошо',
 'свою',
 'этой',
 'перед',
 'иногда',
 'лучше',
 'чуть',
 'том',
 'нельзя',
 'такой',
 'им',
 'более',
 'всегда',
 'конечно',
 'всю',
 'между']

In [23]:
nyt_re_tokens

['http',
 'www',
 'bloomberg',
 'com',
 'news',
 '2013',
 '04',
 '01',
 'women',
 'tourists',
 'avoid',
 'india',
 'following',
 'sexual',
 'assaults',
 'study',
 'says',
 'html']

In [16]:
df.head(1)

,615051871,20160109,201601,2016,2016.0247,BUS,BUSINESS,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,HA.5,1.3,Haiti.2,HA.6,HA.7,19.2,-72.4167.2,HA.8,20170108,http://www.foxnews.com/world/2012/05/11/prospectors-ready-to-tap-haiti-buried-gold.html
0,615051872,20160109,201601,2016,2016.0247,BUS,BUSINESS,NaN,NaN,NaN,...,HA,1,Haiti,HA,HA,19.0,-72.4167,HA,20170108,http://www.foxnews.com/world/2012/05/11/prospe...